.logo
{
    width: 200px;
   position: absolute;
   left: -40px;
   top: -20px;
}
.bg_img
{
    height: 100vh;
    width: 100%;
    margin-top: -56px;
}

.nav_center
{
    display: flex;
    justify-content: flex-end;
}
.form_header
{
    /* position: absolute;
    right: 5px;
    top: 5px; */
}
#cart_shop
{
    outline: none;
    border: none;
    border-radius: 50%;
}